* {
  box-sizing: border-box;
  text-align: center;
  color: #660000;
  background-color: white;
}

html, body {
  height: 100%; /* Ensure full height of the viewport */
}

body {
  display: flex;
  flex-direction: column;
}

.websiteHeader {
  font-size: 40px;
  text-decoration: none;
}

h1 {
  /* margin-top: 2%; */
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
p {

}

.content {
  flex-grow: 1; /* This will make the content area take up remaining space */
}

/* #date {
  background-color: #660000;
  color: white;
} */

.footer {
  /* background-color: #660000;
  color: white; */
  padding: 1em;
  font-size: 10px;
}
